/* Universal selector used to style all elements of html */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Gives the entire webpage a background color */
body {
    background-color: #d9dcd6;
}

/* Assigns header with a font-family for the web browser to choose from if the default is unavailable as well as assigns the text with a color of white */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header element positioned horizontally at a default font-size of 48px*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Gives the SEO in Horiseon a light gray color */
header h1 .seo {
    color: #d9dcd6;
}

/* Positions the navbar to the right side of the screen as well as assiging fonts for the web browser to use if default is not available. font-size given 20px */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Displays navbar selectors without bullet points */
header nav ul {
    list-style-type: none;
}

/* Displays list horizontally*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Assigns any anchor found in the code with a color of white and removes link underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Defaults paragraph string to a font-size of 16px*/
p {
    font-size: 16px;
}

/* Displays Oversized Banner on the webpage*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg" );
    background-size: cover;
    background-position: center;
    
}

#background {
    display: none;
}*

/* Positions the seo and smm Images to the left side of the container*/
#search-engine-optimization img, #social-media-marketing img{
    float: left;
    margin-right: 25px
}

/* Positions the orm Image to the right side of the container*/
#online-reputation-management img {
    float: right;
    margin-left: 25px
}

/* Provides the section container with 75% width and displays them horizontally with an indent */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Positions the sidebar to the right side of the screen with a right indent of 20px. Clear is used to push any string found besides it to the bottom of the element as to not share a line*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sidebar sections now organized to share style code */
#benefit-lead, #benefit-brand, #benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
#benefit-lead h3, #benefit-brand h3, #benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

#benefit-lead img, #benefit-brand img, #benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sections within the body now organized to share style */
#search-engine-optimization, #online-reputation-management, #social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#search-engine-optimization img, #online-reputation-management img, #social-media-marketing img {
    max-height: 200px;
}

#search-engine-optimization h2, #online-reputation-management h2, #social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
